doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/explore.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title
  body
    header
      nav(class='header')
        div(class='navbar')
          div(class='logo-container')
            a(class='jollyjingle-logo' href='/')
              p jolly
                p(id='brand-color') jingles
          if !user
            div(class='my-jingles-container')
              a(href='users/sign-up' class='my-jingles') My Jingles
            div(id="search-container")
              input(type="text", id="search" name="Search", placeholder= "Search Jingles")
              i.fa.fa-search
            div(class='sign-in-container')
                a(href='users/sign-in' class='sign-in-button') Sign in
                a(href='users/sign-up' class='sign-in-button sign-up') Sign up
          if user
            div(class='my-jingles-container')
              a(href='/users/'+user.id+'/jingleLists' class='my-jingles') My Jingles
            div(id="search-container")
              input(type="text", id="search" name="Search", placeholder= "Search Jingles")
            div(id="right-container")
            p welcome
              strong  #{user.name}
            form(method='post' action='/users/sign-out')
              input(type='submit' value='Sign Out')
    header
    div(class='jingles-container')
      div(class='jingles-grid')
        each jingle in jingles
          div(class="jingle")
            img(src=jingle.image id="jinglepic")
            a(id="nameText" href=`/jingles/${jingle.id}`)=jingle.name
            p(id="artistText")= jingle.artist
            if (jingle.avgRating === null || isNaN(jingle.avgRating))
              p="Be the first to review"
            else
              p=jingle.avgRating
    include footer.pug
