doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/stylesheets/jingles-view.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    nav(class='navbar')
      div(id="center-container")
        a(class='jollyjingle-logo' href='/') jollyjingle
        a(href=`/users/${user.id}/jingleLists`) My Jingles
        input(type="text", name="Search", placeholder= "Search Jingles")
        a(href='/users/sign-in') Sign in
        a(href='/users/sign-up') Sign up
        a(href='/users/sign-out') Sign out

    div.top-container
        div.jingle-img-container
            img(src=jingle.image id="jinglepic")
            label(for="myJingleList")
            select#select(name="myJingleList" required=true)="Add to My Jingles"
                each list in lists
                    option(value=list.id selected=(list.id))= list.name
            p#star-rating="My Rating:"
            div.rate
              label(for="star1")
                input(type="radio" id="star1" name="rate" value="1")
              label(for="star2")
                input(type="radio" id="star2" name="rate" value="2")
              label(for="star3")
                input(type="radio" id="star3" name="rate" value="3")
              label(for="star4")
                input(type="radio" id="star4" name="rate" value="4")
              label(for="star5")
                input(type="radio" id="star5" name="rate" value="5")
            // TO DO: add button to create jinglelist
            // TO DO: add logged-in user's jinglelists
        div.jingle-info-container
            h2.text=jingle.name
            p.text=`by ${jingle.artist}`
            // TO DO: how to display average review rating?
            if (isNaN(avgReviews))
              p.text="⭐⭐⭐⭐⭐"+" Be the first to review"
            else 
              p.text="⭐⭐⭐⭐⭐"+ avgReviews
            p#description.text=jingle.description
    div.bottom-container
        div.lyrics-container
            p.text.heading="Lyrics"
            p.text=jingle.lyrics
        div.reviews-container
            p.text.heading="Community Reviews"


            a(href='/jingles/'+jingle.id+'/reviews') Write a review
            div.reviews
              each review in reviews
                div(class="review")
                p.text
                  strong #{user.name}
                  |  rated it: #{review.rating}
                p.text #{review.message}

                if user.id === review.userId
                  form(action='/jingles/'+jingle.id+'/reviews/'+review.id, method="post")
                    input(type='hidden' name='_csrf' value=csrfToken)
                    button(type="submit" id="delete-butt") Delete
    include footer.pug
