doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/stylesheets/jingles-review.css")
    title= title
body
    include nav-bar.pug
    div.review-container
        div.review-cover-container
            img(src=`${image}`, alt="album cover" id="review-cover")
        h1.review-title= name
        p.author= `by ${artist}`
        form(method="post" action=`/jingles/63/reviews`)
        input(type='hidden' name='_csrf' value=csrfToken)
        label(for="message") What did you think?
        textarea(name="message", cols="30", rows="10", placeholder = 'Enter your review' id="review-input")
        div
            label(for="rating") Rating
            input(type="number",  min="0" max="5" name="rating" id="rating")

        div
            label(for="jingleId")
            input(type="hidden", value= id, name="jingleId")
            button(type='submit' class='user-button') Post
    include footer.pug
