doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/stylesheets/jingles-view.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    div.header
      include nav-bar.pug
    div.main__frame
      div.main_frame_grid_container
        div.left__column
          div.jingle__cover
            img(src=jingle.image)
          div.jingleList__action
            form(method="post" action=`/users/${userId}/jingleLists/${userId}/${id}`)
            input(type='hidden' name='_csrf' value=csrfToken)
            select(name="myJingleList" onchange="javascript:this.form.submit()")="Add to My Jingles"
              option(value="none" selected disabled hidden)="Add to My Jingles"
              each list in lists
                //- option(value=list.id selected=(list.id))= list.name
                option(value=list.id)= list.name
            //- p#star-rating="My Rating:"
            //- div.rate
            //-   label(for="star1")
            //-     input(type="radio" id="star1" name="rate" value="1")
            //-   label(for="star2")
            //-     input(type="radio" id="star2" name="rate" value="2")
            //-   label(for="star3")
            //-     input(type="radio" id="star3" name="rate" value="3")
            //-   label(for="star4")
            //-     input(type="radio" id="star4" name="rate" value="4")
            //-   label(for="star5")
            //-     input(type="radio" id="star5" name="rate" value="5")
            // TO DO: add button to create jinglelist
            // TO DO: add logged-in user's jinglelists
        div.right__column
          div#jingle__title
            p=jingle.name
          div.jingle__metadata
            p#artist__info=`by ${jingle.artist}`
            div.stars__container
              if (!avgReviews || isNaN(avgReviews))
               span(class="stars" style="--rating: 0")
               p.text="Be the first to review"
              else
                span(class="stars" style=`--rating:${avgReviews}`)
                p#avgReviews=avgReviews
            p#description=jingle.description
            hr.solid
            //- form(method="post" action=`/users/${userId}/jingleLists/${userId}/${id}`)
            //-   input(type='hidden' name='_csrf' value=csrfToken)
            //-   input(type='submit' value="Add Jingle")
          div.lyrics-container
            p#lyrics__title="Lyrics"
            p.text=jingle.lyrics
            hr.solid#bottom-line
          div.reviews-container
            p#Ratings__title="Ratings & Reviews"
            a(href='/jingles/'+jingle.id+'/reviews') Write a review
            div.reviews
              each review in reviews
                div(class="review")
                p.text
                  strong #{user.name}
                  |  rated it: #{review.rating}
                p.text #{review.message}
                if user.id === review.userId
                  form(action='/jingles/'+jingle.id+'/reviews/'+review.id, method="post")
                    input(type='hidden' name='_csrf' value=csrfToken)
                    button(type="submit" id="delete-butt") Delete
    div.footer
      include footer.pug
