doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/stylesheets/jingles-view.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    header
      include nav-bar.pug
    div.main__frame
      div.main_frame_grid_container
        div.left__column
          div.jingle__cover
            img(src=jingle.image)
          div
            form(method="post" action=`/users/${userId}/jingleLists/${userId}/${id}`)
              input(type='hidden' name='_csrf' value=csrfToken)
              select(name="jingleListId" onchange="javascript:this.form.submit()")="Add this jingle to a list"
                option(value="none" selected disabled type='hidden')="Add this jingle to a list"
                each list in lists
                  option(value=list.id)= list.name

            //- p#star-rating="My Rating:"
            //- div.rate
            //-   label(for="star1")
            //-     input(type="radio" id="star1" name="rate" value="1")
            //-   label(for="star2")
            //-     input(type="radio" id="star2" name="rate" value="2")
            //-   label(for="star3")
            //-     input(type="radio" id="star3" name="rate" value="3")
            //-   label(for="star4")
            //-     input(type="radio" id="star4" name="rate" value="4")
            //-   label(for="star5")
            //-     input(type="radio" id="star5" name="rate" value="5")

            // TO DO: add button to create jinglelist
        div.right__column
          div#jingle__title
            p=jingle.name
          div.jingle__metadata
            p#artist__info=`by ${jingle.artist}`
            div.stars__container
              if (!avgReviews || isNaN(avgReviews))
               span(class="stars" style="--rating: 0")
               p.text="Be the first to review"
              else
                span(class="stars" style=`--rating:${avgReviews}`)
                p#avgReviews=avgReviews
            p#description=jingle.description
            hr.solid
          div.lyrics-container
            p#lyrics__title="Lyrics"
            pre#lyrics=jingle.lyrics
            hr.solid#bottom-line
          div.reviews-container
            p#Ratings__title="Ratings & Reviews"
            a(href='/jingles/'+jingle.id+'/reviews' id="write-a-review") Write a review
            div.reviews
              each review in reviews
                div(class="review")
                  p <a>#{review.User.name}</a> rated it: #{review.rating}
                  if user.id === review.userId
                    form(action='/jingles/'+jingle.id+'/reviews/'+review.id, method="post")
                      input(type='hidden' name='_csrf' value=csrfToken)
                      input(type="submit" id="delete-review" value="Delete")
                  p(id="message") #{review.message}
    div.footer
      include footer.pug
