doctype html
html(lang="en")
  head
    link(rel="stylesheet", href="/stylesheets/jingles-view.css")
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
  body
    nav(class='navbar')
      div(id="center-container")
        a(class='jollyjingle-logo' href='/') jollyjingle
        a(href='/users/#{user.id}') My Jingles
        input(type="text", name="Search", placeholder= "Search books")
        a(href='users/sign-in') Sign in
        a(href='users/sign-up') Sign up
        a(href='users/sign-out') Sign out

    div.main-container
        img(src=jingle.image id="jinglepic")
        div
            h2=jingle.name
            p=`by ${jingle.artist}`
            p=jingle.avgRating
            p=jingle.description
    include footer.pug

    div.top-container
        div.jingle-img-container
            img(src=jingle.image id="jinglepic")
            label(for="myJingleList")
            select#select(name="myJingleList" required=true)
            p#star-rating="My Rating"
            p#stars ⭐⭐⭐⭐⭐
            // TO DO: add button to create jinglelist
            // TO DO: add logged-in user's jinglelists
        div.jingle-info-container
            h2.text=jingle.name
            p.text=`by ${jingle.artist}`
            p.text="⭐⭐⭐⭐⭐"+jingle.avgRating
            p#description.text=jingle.description
    div.bottom-container
        div.lyrics-container
            p.text.heading="Lyrics"
            p.text=jingle.lyrics
        div.reviews-container
            p.text.heading="Community Reviews"
            p.text= "List of Reviews Go here"


            a(href='/jingles/'+jingle.id+'/reviews') Write a review
            div.reviews
              each review in reviews
                div(class="review")
                p #{review.message} #{review.rating}

