extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user-jinglelists.css")

block content
    div.header
        include nav-bar.pug
    div.main-container
        div.lists-and-jingles-container
            div.sidelinks-container
                div.lists-container
                    table(class='jinglelists-table')
                        thead(class='thead')
                            tr
                                th(scope='col') #{user.name}'s Lists
                        tbody
                            each list in lists
                                tr
                                    td
                                        form(method='get' action=`/users/${userId}/jingleLists/${list.id}` class="list")
                                            input(type='submit' value=`${list.name}` class="list")
                                        if list.name !== defaultListName && userId === loggedInUserId
                                            form(method="post" action=`/users/${userId}/jingleLists/${list.id}` class='list-delete')
                                                input(type="hidden" name='_csrf' value=csrfToken)
                                                input(type='submit' value="✖" class='list-delete')
                if userId === loggedInUserId
                    div.add-list-container
                        p#create-new Create a new list
                        if addJingleListError
                            each error in addJingleListError
                                p(class="alert") #{error}
                        form(method='post' action=`/users/${userId}/jingleLists`)
                            input(type="hidden" name="_csrf" value=csrfToken)
                            input(type='text' name="name" id="new-list-name-field" value=name placeholder="Enter a name..." autocomplete="off")
                            input(type='submit' value='Add List' id='new-list-submit')
                div.explore-container
                    a#explore-butt(href="/") Explore
            div.jingles-container
                div.jingle-table
                    if jinglesFromAList.length === 0
                        p(id="empty-list-message") This list is currently empty...
                    else
                        table(class='jingle-list-table')
                            thead(class='thead')
                                tr
                                    th(scope='col') Cover
                                    th(scope='col') Title
                                    th(scope='col') Artist
                                    th(scope='col') Rating
                                    th(scope='col' id="date-column") Date Added
                                    th(scope='col' id="review-column")
                                    th(scope='col')
                            tbody
                                each jingle in jinglesFromAList
                                    tr
                                        td
                                            a(href=`/jingles/${jingle.id}`)
                                                img(id='jingle-album' src=`${jingle.image}`)
                                        td
                                            a(href=`/jingles/${jingle.id}`)= `${jingle.name}`
                                        td=`${jingle.artist}`
                                        td
                                            if (!jingle.avgRating || isNaN(jingle.avgRating))
                                                span(class="stars" style="--rating: 0")
                                            else
                                                span(class="stars" style=`--rating:${jingle.avgRating}`)
                                        td(id="add-time")=`${jingle.addTime}`
                                        td
                                            a(href='/jingles/'+jingle.id+'/reviews' id="jingle-review-link") Write a review
                                        td(id="delete-container")
                                            if userId === loggedInUserId
                                                form(method="post" action=`/users/${userId}/jingleLists/${jingle.listId}/jingles/${jingle.id}`)
                                                    input(type="hidden" name='_csrf' value=csrfToken)
                                                    input(type='submit' value="✖" id="delete-jingle-from-list")

    include footer.pug
