extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user-jinglelists.css")

block content
    div.main-container
        h1='test'
        a.myJingles-link(href="") My Jingles
        div.lists-and-jingles-container
            div.sidelinks-container
                div.lists-container
                    table(class='jinglelists-table')
                        thead(class='thead')
                            tr
                                th(scope='col') My Lists
                        tbody
                            each list in lists
                                tr
                                    td
                                        form(method='get' action=`/users/${userId}/jingleLists/${list.id}` class="list")
                                            input(type='submit' value=`${list.name}` class="list")
                                        form(method="post" action=`/users/${userId}/jingleLists/${list.id}` class='list-delete')
                                            input(type="hidden" name='_csrf' value=csrfToken)
                                            input(type='submit' value="✖" class='list-delete')
                    if addJingleListError
                        each error in addJingleListError
                            p #{error}
                    form(method='post' action=`/users/${userId}/jingleLists`)
                        input(type="hidden" name="_csrf" value=csrfToken)
                        input(type='text' name="name" id="new-list-name-field" value=name)
                        input(type='submit' value='Add List' id='new-list-submit')
                a#explore-butt(href="/") Explore
            div.jingles-container
                div.jingle-table
                    table(class='jingle-list-table')
                        thead(class='thead')
                            tr
                                th(scope='col') cover
                                th(scope='col') title
                                th(scope='col') artist
                                th(scope='col') avg rating
                                th(scope='col') review
                                th(scope='col') date added
                        tbody
                            each jingle in jinglesFromAList
                                tr
                                    td
                                        img(src=`${jingle.image}`)
                                    td=`${jingle.name}`
                                    td=`${jingle.artist}`
                                    td=`${jingle.avgRating}`
                                    td=`${jingle.review}`
                                    td=`${jingle.createdAt}`
                                        form(method="post" action=`/users/${userId}/jingleLists/${userId}/jingles/${jingle.id}`)
                                            input(type="hidden" name='_csrf' value=csrfToken)
                                            input(type='submit' value="✖")


    include footer.pug
