extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user-jinglelists.css")

block content
    div.main-container
        h1= artist
        a.myJingles-link(href="") My Jingles
        div.jinglelists-container
            div.sidelinks-container
                a.list-tag#all-tag(href="") All
                    each list in lists
                        a(href="")= list.name
                        form(method="post" action=`/users/${userId}/jingleLists/${list.id}`)
                            input(type="hidden" name='_csrf' value=csrfToken)
                            input(type='submit' value="❌")
                if addJingleListError
                    p Please provide a name for the list.
                form(method='post' action=`/users/${userId}/jingleLists`)
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type='text' name="name" id="list-name-field" value=name)
                    input(type='submit' value='Add List')
                //- not using explore-butt styling
                a#add-list-butt(href="/") Explore
            div.jingles-container
                div.jingle-table

                    table(class='jingle-list-table')
                        thead(class='thead')
                            tr
                                th(scope='col') cover
                                th(scope='col') title
                                th(scope='col') artist
                                th(scope='col') avg rating
                                th(scope='col') review
                                th(scope='col') date added
                        tbody
                            each jingle in jinglesFromAList
                                tr
                                    td
                                        img(src=`${jingle.image}`)
                                    td=`${jingle.name}`
                                    td=`${jingle.artist}`
                                    td=`${jingle.avgRating}`
                                    td=`${jingle.review}`
                                    td=`${jingle.createdAt}`


    include footer.pug
