extends layout.pug
append head
  //- add page specific styles by appending to the head
  link(rel="stylesheet" href="/stylesheets/user-jinglelists.css")

block content
    div.main-container
        h1= artist
        a.myJingles-link(href="") My Jingles
        div.jinglelists-container
            div.sidelinks-container
                a.list-tag#all-tag(href="") All
                    each list in lists
                        a(href="")= list.name
                        form(method="post" action=`/users/${userId}/jingleLists/${list.id}`)
                            input(type="hidden" name='_csrf' value=csrfToken)
                            input(type='submit' value="❌")
                if addJingleListError
                    p Please provide a name for the list.
                form(method='post' action=`/users/${userId}/jingleLists`)
                    input(type="hidden" name="_csrf" value=csrfToken)
                    input(type='text' name="name" id="list-name-field" value=name)
                    input(type='submit' value='Add List')
                //- not using explore-butt styling
                a#add-list-butt(href="/") Explore
            div.jingles-container
                div.column-name-container
                    p cover
                    p title
                    p artist
                    p avg rating
                    p review
                    p date added
                        //- for each jingle in jingles
                div.jingle-table

                    //- div.jingle-container
                    //-     //- img(src=`${image}`, alt="")
                    //-     //- a(href="jingle page")= title
                    //-     p= artist
                    //-     //- p= avgRating
                    //-     //- a(href="review form") Write a review
                    //-     //- p Dec 07, 2021

                    div.jingle-container
                        a(href="/jingles/104")
                            img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="/jingles/104") Firework
                        p Katy Perry
                        p 4.3
                        a(href="/jingles/104/reviews") Write a review
                        p Dec 07, 2021
                        form(method="post" action=`/users/3/jingleLists/3/jingles/1`)
                            input(type="hidden" name='_csrf' value=csrfToken)
                            input(type='submit' value="❌")

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021

                    div.jingle-container
                        img(src="https://t2.genius.com/unsafe/303x303/https%3A%2F%2Fimages.genius.com%2F8c2ba5d293ff0510806c2ea9dde145d8.1000x1000x1.jpg", alt="album artwork - katy perry")
                        a(href="jingle page") Firework
                        p Katy Perry
                        p 4.3
                        a(href="review form") Write a review
                        p Dec 07, 2021
    include footer.pug
